# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Shader Compiled Objects
*.cso

# Folder internal Visual Studio
.vs/
out/
Debug/
Release/
x64/

# File hasil build dan log
*.user
*.suo
*.db
*.opendb
*.log
*.tlog
*.lastbuildstate
*.recipe
*.lib
*.FileListAbsolute.txt
*.idb
*.ini

# Mengabaikan folder build global
[Oo]bj/
[Bb]in/

# Mengabaikan folder build di dalam folder External secara spesifik
External/**/x64/
External/**/Debug/
External/**/Release/
/obj/x64/Debug/vc143.idb